entrypoint = "Python_tutorials/FastAPI_tuts/main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "Python_tutorials/FastAPI_tuts/main.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Python"

[[workflows.workflow]]
name = "Run Python"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python Python_tutorials/FastAPI_tuts/main.py"

[workflows.workflow.metadata]
outputType = "console"
